@import 'variables';
@import 'media-queries';

//! extends
// .flex{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content:space-between;
// }
//kullanım şekli:  @extend .flex;  (% veya .)

.footer{
    .footerTop{
    &__content{
        margin:3rem 1rem ;
        padding-bottom: 150px;
        padding-top: 150px;
        margin: auto;
        width: 700px;
        @include display(flex,center,center,column);
        @include sm{
            width: 500px;
        }

        p{
            color: $darkBlue;
        }
        p:nth-child(2){
            text-align: center;
            padding: 20px;
            margin-bottom: 40px;
        }
        p:nth-child(3){
            font-size: 40px;
            font-weight: bold;
        }
        p:nth-child(5){
            padding-top: 30px;
            padding-bottom: 10px;
        }  
        button{
            padding: 3px 20px;
            background-color: $darkBlue;
            color: $light;
        }  
    }
    }

    .footerBottom{
        &__content{
            padding: 4rem 3rem;
            &--top{
                @include display(flex,center,space-between,row);
                padding-bottom: 50px;
                @include sm{
                    @include display(flex,center,space-between,column);
                }
                button{
                    padding: 3px 15px;
                    background-color: $darkBlue;
                    color: $light;
                    @include sm{
                        margin-top: 1rem;
                    }
                }
                span{
                    opacity: 0.6;
                    @include sm{
                        margin-bottom: 1rem;
                    }
                }
            }
            &--bottom{
                @include display(flex,center,space-between,row);
                margin-top: 30px;
                margin-bottom: 100px;
                @include sm{
                    @include display(flex,center,space-between,column);
                }
                ul{
                    display: flex;
                    gap: 30px;
                    @include sm{
                        margin-bottom:1rem;
                    }
                    li{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

.background-top{
    background-image: url("/images/Rectangle.png");
}
.background-bottom{
    background-image: url("/images/Rectangle2.png");
    height: auto;
}