* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container, .section4__container, .section3__container, .section2__container, .section1__container {
  margin-left: 168px;
  padding-top: 200px;
}

.container2 {
  margin-left: 168px;
  margin-right: 168px;
  padding-top: 200px;
}

.align-center, .navbar__button, .navbar__logo, .navbar__menu {
  display: flex;
  align-items: center;
}

.navbar {
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding-top: 20px;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    margin: auto;
    padding-bottom: 15px;
  }
}
.navbar__menu--links {
  color: #111B47;
  padding-right: 40px;
}
.navbar__logo {
  justify-content: center;
  font-family: "Tilt Warp", cursive;
  font-size: 25px;
  color: #111B47;
  z-index: 3;
}
.navbar__button {
  height: 15px;
  padding: 10px 40px;
  margin: 25px;
  background-color: #111B47;
  color: #fff;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .navbar__button {
    width: 120px;
    padding: 10px 30px 10px 30px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container, .section4__container, .section3__container, .section2__container, .section1__container {
  margin-left: 168px;
  padding-top: 200px;
}

.container2 {
  margin-left: 168px;
  margin-right: 168px;
  padding-top: 200px;
}

.btn, .introductory__content--learnMoreButton, .introductory__content--purchaseButton {
  padding: 3px 20px;
}

.introductory {
  height: 1000px;
}
.introductory .container, .introductory .section4__container, .introductory .section3__container, .introductory .section2__container, .introductory .section1__container {
  padding-top: 35rem;
}
.introductory__content {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .introductory__content {
    width: 300px;
    margin: auto;
  }
}
@media screen and (max-width: 1200px) {
  .introductory__content {
    height: 800px;
  }
}
.introductory__content--purchaseButton {
  margin-right: 20px;
  background-color: #111B47;
  color: #fff;
}
.introductory__content--learnMoreButton {
  background-color: #fff;
  color: #111B47;
}
.introductory__content h1 {
  font-size: 30px;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
  color: #111B47;
}
.introductory__content p {
  color: #111B47;
  font-weight: lighter;
  margin-bottom: 20px;
  font-size: medium;
}
.introductory__background {
  display: flex;
  align-content: space-between;
  justify-content: flex-end;
  align-items: center;
}
.introductory__background--img {
  position: absolute;
  z-index: 5;
  right: 0px;
}
@media screen and (max-width: 1200px) {
  .introductory__background--img {
    opacity: 0.3;
  }
}
.introductory__background--path {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container, .section4__container, .section3__container, .section2__container, .section1__container {
  margin-left: 168px;
  padding-top: 200px;
}

.container2 {
  margin-left: 168px;
  margin-right: 168px;
  padding-top: 200px;
}

.i, .section1__content--card2, .section1__content--card1 {
  font-size: 25px;
  margin-bottom: 1rem;
  width: 50rem;
}

.container, .section4__container, .section3__container, .section2__container, .section1__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: "row";
  margin-left: 168px;
  margin-right: 168px;
}

.h1, .section4__content h1, .section3__content h1, .section2__content h1, .section1__content h1 {
  font-size: 30px;
  color: #111B47;
  margin-bottom: 20px;
}

.p, .section4__content p, .section3__content p, .section2__content p, .section1__content p {
  font-size: small;
  color: #111B47;
  margin-bottom: 1rem;
}

.section1 {
  height: 800px;
  padding-top: 200px;
}
@media screen and (max-width: 992px) {
  .section1__container {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .section1__container img {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 992px) {
  .section1__container img {
    width: 500px;
    height: 500px;
    z-index: -5;
    margin-bottom: 50px;
  }
}
.section1__content {
  max-width: 500px;
}
.section1__content--cards {
  display: flex;
}
.section1__img {
  margin-top: -100px;
}

.section2 {
  height: 600px;
}
@media screen and (max-width: 992px) {
  .section2__container {
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 150px;
  }
}
.section2__img img {
  margin-top: -50px;
  width: 500px;
  height: 400px;
}
@media screen and (max-width: 1200px) {
  .section2__img img {
    width: 450px;
    height: 350px;
  }
}
@media screen and (max-width: 992px) {
  .section2__img img {
    z-index: -5;
    margin-bottom: 50px;
  }
}
.section2__content {
  min-width: 25rem;
}
@media screen and (max-width: 700px) {
  .section2__content {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.section3 {
  height: 600px;
}
@media screen and (max-width: 992px) {
  .section3__container {
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 150px;
  }
}
.section3__img img {
  margin-top: -50px;
  width: 500px;
  height: 400px;
}
@media screen and (max-width: 1200px) {
  .section3__img img {
    width: 450px;
    height: 350px;
  }
}
@media screen and (max-width: 992px) {
  .section3__img img {
    z-index: -5;
    margin-bottom: 50px;
  }
}
.section3__content {
  min-width: 25rem;
}
@media screen and (max-width: 700px) {
  .section3__content {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.section4 {
  height: 600px;
}
@media screen and (max-width: 992px) {
  .section4 {
    margin-bottom: 15rem;
  }
}
@media screen and (max-width: 992px) {
  .section4__container {
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 150px;
  }
}
.section4__img img {
  margin-top: -50px;
  width: 500px;
  height: 400px;
}
@media screen and (max-width: 1200px) {
  .section4__img img {
    width: 450px;
    height: 350px;
  }
}
@media screen and (max-width: 992px) {
  .section4__img img {
    z-index: -5;
    margin-bottom: 50px;
  }
}
.section4__content {
  min-width: 25rem;
}
@media screen and (max-width: 700px) {
  .section4__content {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
.section4__content--button {
  padding: 3px 20px;
  margin-top: 30px;
  background-color: #111B47;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container, .section1__container, .section2__container, .section3__container, .section4__container {
  margin-left: 168px;
  padding-top: 200px;
}

.container2 {
  margin-left: 168px;
  margin-right: 168px;
  padding-top: 200px;
}

.footer .footerTop__content {
  margin: 3rem 1rem;
  padding-bottom: 150px;
  padding-top: 150px;
  margin: auto;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .footer .footerTop__content {
    width: 500px;
  }
}
.footer .footerTop__content p {
  color: #111B47;
}
.footer .footerTop__content p:nth-child(2) {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}
.footer .footerTop__content p:nth-child(3) {
  font-size: 40px;
  font-weight: bold;
}
.footer .footerTop__content p:nth-child(5) {
  padding-top: 30px;
  padding-bottom: 10px;
}
.footer .footerTop__content button {
  padding: 3px 20px;
  background-color: #111B47;
  color: #fff;
}
.footer .footerBottom__content {
  padding: 4rem 3rem;
}
.footer .footerBottom__content--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .footer .footerBottom__content--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
.footer .footerBottom__content--top button {
  padding: 3px 15px;
  background-color: #111B47;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .footer .footerBottom__content--top button {
    margin-top: 1rem;
  }
}
.footer .footerBottom__content--top span {
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .footer .footerBottom__content--top span {
    margin-bottom: 1rem;
  }
}
.footer .footerBottom__content--bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .footer .footerBottom__content--bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
.footer .footerBottom__content--bottom ul {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .footer .footerBottom__content--bottom ul {
    margin-bottom: 1rem;
  }
}
.footer .footerBottom__content--bottom ul li {
  opacity: 0.6;
}

.background-top {
  background-image: url("/images/Rectangle.png");
}

.background-bottom {
  background-image: url("/images/Rectangle2.png");
  height: auto;
}/*# sourceMappingURL=index.css.map */